body {
    background-image: url('Blackack background2.jpg');
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    overflow: auto;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px; /* Space between cards */
    justify-content: center;
    margin-top: 20px;
}
.card.red {
    color: red;
}
.card.black {
    color: black;
}